@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}
.gradient_1 {
  background: linear-gradient(107.71deg, #5b64ff 4.67%, #b455f0 87.07%);
}
.gradient_2 {
  background: linear-gradient(258.14deg, #5a81ff 6.02%, #4b60ff 83.87%);
}
.gradient_banner:nth-child(odd) {
  background: linear-gradient(107.71deg, #5b64ff 4.67%, #b455f0 87.07%);
}
.gradient_banner:nth-child(even) {
  background: linear-gradient(258.14deg, #5a81ff 6.02%, #4b60ff 83.87%);
}
.underlinewhite::before {
  content: "";
  position: absolute;
  width: 7em;
  background-color: #ffffff;
  height: 2px;
  bottom: -4px;
}
.smoothTransition {
  transition: transform 90ms ease-in-out;
}
.debug {
  border: 1px solid black;
}
.debug2 {
  border: 1px solid yellow;
}
.debug3 {
  border: 1px solid purple;
}

.linerbg {
  background: linear-gradient(32deg, #f3f9ff 0%, #f1f0ff 100%);
}
.mintgreengradiant {
  background: linear-gradient(42deg, #36e6d5 0%, #29e871 100%);
}
.subtextcolor {
  background: linear-gradient(32deg, #f3f9ff 0%, #f1f0ff 100%);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
