@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}
.debug {
  border: 1px solid black;
}

.linerbg {
  background: linear-gradient(32deg, #f3f9ff 0%, #f1f0ff 100%);
}
.mintgreengradiant {
  background: linear-gradient(42deg, #36e6d5 0%, #29e871 100%);
}
.subtextcolor {
  background: linear-gradient(32deg, #f3f9ff 0%, #f1f0ff 100%);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
